* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: antiquewhite;
}

header {
  background: powderblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  width: 100px;
  height: 100px;
}

.navbar ul {
  list-style: none;
}

.navbar > ul {
  display: flex;
}

.navbar > ul > li {
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  padding: 15px 20px;
  display: block;
  transition: 0.3s;
}

.navbar ul li a:hover {
  background: #2563eb;
  border-radius: 8px;
}

.navbar ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 220px;
  background: white;
  display: none;
  border-radius: 9px;
}

.navbar ul li:hover > ul {
  display: block;
}

.navbar ul ul li {
  position: relative;
}

.navbar ul ul ul {
  top: 0;
  left: 100%;
}

.navbar ul ul li:hover > a {
  background: #2563eb;
}

.navbar ul li a i {
  margin-right: 5px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 20px;
  }

  .navbar > ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar ul ul {
    position: static;
    display: none;
    width: 100%;
  }

  .navbar ul li:hover > ul {
    display: block;
  }

  .navbar ul ul ul {
    position: static;
  }
}
